<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.storelogflog.uk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".StoreLogFlogApp"
        android:allowBackup="true"
        android:icon="@mipmap/icon_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".StorageSelection.activity.ShanpeInfoActivity"
            android:screenOrientation="portrait"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NotificationDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ContactUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgotActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CommonMsgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SubscriptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StorageSelection.activity.ConfirmationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StorageSelection.activity.DoorSelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StorageSelection.activity.GridCellActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StorageSelection.activity.TermsAndConditionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StorageSelection.activity.AddStorageActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <service android:name=".FireBaseMessaging.CustomFireBaseMessasing">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="true" />
    </application>

</manifest>